#social-buttons h2 {
    margin-top: 70px;
}

#social-buttons {
    padding-bottom: 90px;
}

#social-buttons-content {
    margin-top: 55px;
    width: 780px;
    display: block;
    margin: 0px auto;
}

.social-button {
    width: 16%;
    text-align: center;
    display: inline-block;
}

#social-buttons img{
    width: 100px;
    height: 100px;
}

#social-buttons .reason-icon {
    width: 77px;

    height: 77px;
    border: 10px solid #00ffa2;
}

#social-buttons a:hover {
    text-decoration: none;
}

#social-buttons-content {
    margin-top: 50px;
    text-align: center;
}